.container {
  padding: 16px;
  white-space: nowrap;
  border: 5px solid #2ecc71;
}

label {
  display: block;
  margin: 0;
  font-weight: bold;
}

/* Full-width inputs */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:hover {
  background-color: #eee;
  outline: none;
}

input:focus {
  background-color: white;
  outline: none;
}

input[type="button"] {
  background-color: #2ecc71;
  color: rgb(92, 92, 92);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: #2ecc80;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 550px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    /* If you want the text to be left-aligned on small screens */
  }
}
/* 
@media screen and (min-width: 550px) {
  .container {
    display: block;
    width: 80%;
    float: none;
    margin: 25%;
    border: 5px #2ecc71 solid;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    display: block;
    width: 100%;
    float: none;
    border-top: 100px #2ecc71 solid;
    border: 150px #2ecc71 solid;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    display: block;
    width: 100%;
    float: none;
    border-top: 100px #2ecc71 solid;
    border-left: 400px #2ecc71 solid;
    border-right: 400px #2ecc71 solid;
  }
} */
