:root {
  --width: 50%;
}

.container {
  padding: 16px;
  white-space: nowrap;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 50px;
}

#content-head {
  display: block;
  margin: auto;
  width: var(--width);
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
}

label,
.oops {
  display: block;
  margin: auto;
  width: var(--width);
  font-weight: bold;
}

.oops {
  font-weight: normal;
}

.oops a {
  text-decoration: underline;
}

/* Full-width inputs */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: var(--width);
  padding: 12px 20px;
  margin: 8px auto;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:hover,
textarea:hover {
  background-color: #eee;
  outline: none;
}

input:focus,
textarea:focus {
  background-color: white;
  outline: none;
  border: solid 0.5px black;
}

textarea {
  height: 15rem;
}

input[type="button"] {
  background-color: #2ecc71;
  color: rgb(92, 92, 92);
  padding: 14px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: var(--width);
  display: block;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: #2ecc80;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 550px) {
  nav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    /* If you want the text to be left-aligned on small screens */
  }
}
