* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgb(99, 99, 99);
}

a {
  text-decoration: none;
}

.header {
  padding: 1rem;
  background-color: #979998;
  display: grid;
  grid-template-columns: 75% auto;
  font-size: 1.5rem;
  vertical-align: middle;
  border: rgb(88, 88, 88) 1px solid;
  position: sticky;
  top: 0;
}

header > a {
  color: black;
}
nav > ul {
  font-size: 1rem;
  display: grid;
  vertical-align: middle;
  grid-template-columns: auto auto auto;
  list-style: none;
}

.profile-container {
  background-color: #ffffff;
  padding: 1rem 2rem;
  margin: auto;
  z-index: 1;
  position: absolute;
  right: 3rem;
  top: 0rem;
  list-style: none;
  grid-column: 3 / span 1;
  transition: all 1s ease-in-out;
  border-radius: 0.5rem;
}
.profile-container {
  line-height: 2em;
}

/* Add a background color on mouse-over */
nav a:hover {
  color: rgb(71, 71, 71);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* Style the current/active link */
nav a.active {
  color: #000;
}

/* style for active home page link */
.active {
  color: rgb(27, 255, 76);
  text-decoration: underline;
  transform: scale(1.25);
  font-weight: bold;
}

/* to makae any element hidden */
.hidden {
  display: none;
}

.item-list {
  padding: 0.5rem;
  margin: auto;
  width: 85%;
}

.list {
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

.list:hover {
  transition: all 0.1s ease-in-out;
  background-color: rgb(214, 212, 212);
}

.list .ttl-usr {
  display: flex;
  justify-content: space-between;
}

.ttl-usr .list-author {
  color: darkgrey;
  padding: 5px;
}

.ttl-usr .list-title {
  font-weight: bold;
  padding: 5px;
}

.list-desc {
  color: blue;
  padding: 5px;
  margin: 2px;
}

.list input[type="button"] {
  background-color: #3b4efd;
  /* color: rgb(92, 92, 92); */
  color: white;
  padding: 5px 50px;
  margin-left: auto;
  margin-right: 2px;
  border: none;
  cursor: pointer;
  width: var(--width);
  display: block;
  border-radius: 0.3rem;
}

/* footer css from here */
footer a {
  color: white;
}
footer ul {
  background-color: grey;
  color: white;
  padding: 1.2rem;
  display: grid;
  grid-template-columns: 95% auto;
  list-style: none;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 550px) {
}
